.incomeTimeSaver {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 120px 0;
}

@media only screen and (max-width: 1200px) {
  .incomeTimeSaver{
    padding-top: 80px;
  }
}

@media only screen and (max-width: 1024px) {
  .incomeTimeSaver{
    padding: 25px 50px;
  }
}

@media only screen and (max-width: 800px) {
  .incomeTimeSaver{
    padding: 50px 0;
    flex-direction: column-reverse;
    gap: 75px;
  }
}