.columnNavigateFooter {
  padding-top: 50px;
  width: 150px;
}

.columnNavigateFooter h6 {
  color: #6800C9;
  font-size: 20px;
  text-align: start;
  
}

.columnNavigateFooterLinks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.columnNavigateFooterLinks a{
  display: block;
  color: #265B83;
  font-size: 16px;
  text-align: start;
}