.containerDesign {
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cardWithLearnMore {
  padding-top: 100px;
  margin-left: 160px;
}

@media only screen and (max-width: 1024px) {
  .containerDesign {
    align-items: end;
    flex-direction: column;
    gap: 150px;
  }
}